*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./images/bubble_text.jpg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 20%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: end; 
    height: 100vh; 
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.input-container input{
    padding-left: 8px;
}

.input-text{
    height: 32px;
    margin-bottom: 8px;
    border: 1px solid #222;
    border-radius: 8px;    
}
 
.input-button{
    height: 36px;
    background-color: #222;
    border-radius: 18px;   
    color: white; 
}